## Enraged Rabbit : Carrot Feeder config file for ERCF EASY BRD v1.1

# This config sample assume you set the two J6 jumpers on 1-2 and 4-5, i.e. [..].[..]

[mcu ercf]
serial: /dev/serial/by-id/usb-Klipper_samd21g18a_4EE5580E5136575020312E301B2116FF-if00

# Carrot Feeder 5mm road with the 5 gears
[manual_stepper gear_stepper]
step_pin: ercf:PA4
dir_pin: !ercf:PA10
enable_pin: !ercf:PA2
#rotation_distance: 22.6789511	#Bondtech 5mm Drive Gears
rotation_distance: 23.24592488
gear_ratio: 80:20
microsteps: 16
full_steps_per_rotation: 200
velocity: 35
accel: 150
endstop_pin: ^!ercf:PA7

[tmc2209 manual_stepper gear_stepper]
# setting the micro steps to 2, no interpolation and stealthchop threshold at 26 (it skips if higher)
# helped me reduce the overall noise during loading//unloading.
# Adapth accordingly to your setup // desires
uart_pin: ercf:PA8
uart_address: 0
interpolate: True
run_current: 0.6
hold_current: 0.2
sense_resistor: 0.110
stealthchop_threshold: 0

[manual_stepper selector_stepper]
step_pin: ercf:PA9
dir_pin: !ercf:PB8
enable_pin: !ercf:PA11
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree
velocity: 200
accel: 600
endstop_pin: ^ercf:PB9

[tmc2209 manual_stepper selector_stepper]
uart_pin: ercf:PA8
uart_address: 1
run_current: 0.5
hold_current: 0.2
interpolate: True
sense_resistor: 0.110
stealthchop_threshold: 5000

#[filament_switch_sensor toolhead_sensor]
#pause_on_runout: False
# filament switch wired to "EXTRA"
#switch_pin: ^!ercf:PA7

[servo ercf_servo]
pin: ercf:PA5
maximum_servo_angle: 180
minimum_pulse_width: 0.0005  ## savox 0,0005 ## ette MG90S 0,00085
maximum_pulse_width: 0.0025  ## savox 0,0025 ## ette MG90S 0,00215

[duplicate_pin_override]
pins: ercf:PA6

[filament_motion_sensor encoder_sensor]
switch_pin: ercf:PA6
pause_on_runout: False
detection_length: 4.0
extruder: extruder
# runout_gcode: ERCF_ENCODER_MOTION_ISSUE

[filament_switch_sensor toolhead_sensor]
pause_on_runout: False
switch_pin: ^ESTOP6


