#####################################################################
# 	Extruder
#####################################################################
[extruder]
step_pin: PB3
dir_pin: PB4            # Add ! if moving opposite direction
enable_pin: !PD2
full_steps_per_rotation: 200    # 1.8° motor, use 400 for 0.9°
rotation_distance: 22.23        # See calibrating rotation_distance on extruders doc
gear_ratio: 50:10               # For Mini Afterburner
microsteps: 16
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
sensor_type: ATC Semitec 104GT-2 # Adjust for your hotend thermistor (see options below)
sensor_pin: PA0
control: pid            # Do PID calibration
pid_Kp: 21.886
pid_Ki: 1.104
pid_Kd: 108.234
min_temp: 0
max_temp: 270
min_extrude_temp: 170
max_extrude_only_distance: 780.0
max_extrude_cross_section: 0.8
pressure_advance: 0.0   # See tuning pressure advance doc
pressure_advance_smooth_time: 0.040

#####################################################################
# 	Bed Heater
#####################################################################
[heater_bed]
heater_pin: PC9
sensor_type: NTC 100K beta 3950 # For Keenovo, verify yours
sensor_pin: PC3
smooth_time: 3.0
#max_power: 0.6         # Only need this for 100w pads
min_temp: 0
max_temp: 120
control: pid            # Do PID calibration
pid_kp: 59.538
pid_ki: 3.745
pid_kd: 236.665

#####################################################################
#  Heater Verification
#####################################################################
[verify_heater heater_bed]
max_error: 120
check_gain_time: 60
hysteresis: 5
heating_gain: 2

[verify_heater extruder]
max_error: 120
check_gain_time: 20
hysteresis: 5
heating_gain: 2
