## Voron Design VORON0.1 120 BTT SKR 2.0 TMC2209 UART config
##===================================================================

#####################################################################
#  MCU definition
#####################################################################

[mcu]
##	Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_REPLACE_WITH_YOUR_VALUE
##--------------------------------------------------------------------

#####################################################################
#  General Printer definition
#####################################################################

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 3000
max_z_velocity: 15
max_z_accel: 45
square_corner_velocity: 6.0


[idle_timeout]
timeout: 1800

#####################################################################
#  Debug
#####################################################################
#[include debug.cfg]

#####################################################################
#  Stepper Settings
#####################################################################
[include stepper.cfg]

#####################################################################
#  TMC Settings
#####################################################################
[include tmc.cfg]

#####################################################################
#  Extruder & Bed
#####################################################################
[include heater.cfg]

#####################################################################
#  Fan Control & extra Thermistor
#####################################################################
[include fan.cfg]

#####################################################################
#  Homing Routines
#####################################################################
[include homing.cfg]

#####################################################################
#  Macros
#####################################################################
[include macro.cfg]

#####################################################################
#  Mainsail
#####################################################################
[include mainsail.cfg]


#####################################################################
#  File location of stored varibales
######################################################################
[save_variables]
filename: ~/klipper_config/.variables.stb
